# --- Virtual Environment Directories (CRITICAL) ---
Include/
Lib/
Scripts/
pyvenv.cfg
.venv/
venv/



# --- Python System Caches & Compiled Code ---
__pycache__/
*.py[cod]
*$py.class




# --- Static Assets ---
# This ignores your collected production folder but forces Git to track 
# your source static assets (including your main Tailwind CSS files)
staticfiles/
!static/

# --- Environment Credentials & Configuration Secrets ---
.env
*.env
secrets.py

# --- Operating System Hidden Trash Files ---
.DS_Store
Thumbs.db

# --- Windows Executable Binary Applications ---
tailwindcss.exe
*.exe
